# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib


# Output of the go coverage tool, specifically when used with LiteIDE
*.out
.idea/

gameoflife
gameoflife.test

out/

cpu\.prof

mem\.prof

coms20001_l04\.zip
/coms20001_l04/

*.qcow2

profile*\.pdf

gol-ref\.go

base-out\.txt

base-time\.txt

baseline-out\.txt

baseline-time\.txt

compare

your-out\.txt

your-time\.txt

.DS_Store
